[Unit]
Description=OLED display daemon

[Service]
Type=idle
User=root

ExecStartPre=/bin/mkdir -p /var/run/emb-oled
ExecStart=/usr/local/bin/oled_server

WorkingDirectory=/home/toveri/emb-oled
PIDFile=/var/run/emb-oled/pid

RestartSec=5s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
